<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" version="25.1.0" />
  <package id="awscli" version="2.32.19" />
  <package id="chocolatey" version="2.6.0" />
  <package id="chocolatey-compatibility.extension" version="1.0.0" />
  <package id="chocolatey-core.extension" version="1.4.0" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-visualstudio.extension" version="1.13.0" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.5" />
  <package id="cmake.install" version="4.2.1" />
  <package id="curl" version="8.17.0" />
  <package id="dotnetfx" version="4.8.0.20220524" />
  <package id="git" version="2.52.0" />
  <package id="git.install" version="2.52.0" />
  <package id="hashdeep" version="4.4" />
  <package id="jq" version="1.8.1" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="KB3118401" version="1.0.5" />
  <package id="llvm" version="21.1.7" />
  <package id="mingw" version="15.2.0" />
  <package id="notepadplusplus" version="8.8.9" />
  <package id="notepadplusplus.install" version="8.8.9" />
  <package id="powershell-core" version="7.5.4" />
  <package id="python" version="3.14.0" />
  <package id="python3" version="3.14.0" />
  <package id="python314" version="3.14.0" />
  <package id="rsync" version="6.4.6" />
  <package id="ruby" version="3.4.7.1" />
  <package id="ruby.install" version="3.4.7.1" />
  <package id="vcredist140" version="14.44.35211" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="visualstudio2026buildtools" version="118.1.0" />
  <package id="visualstudio2026-workload-vctools" version="1.0.0" />
  <package id="visualstudio-installer" version="2.0.7" />
  <package id="Wget" version="1.21.4" />
  <package id="windows-sdk-10.1" version="10.1.18362.1" />
  <package id="winscp" version="6.5.5" />
  <package id="winscp.install" version="6.5.5" />
</packages>